* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #222;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
}

h1 {
  margin-bottom: 20px;
}


.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 100%;
  margin: 0 auto;
  align-items: start;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 15px;
  transition: transform 0.3s ease;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 10px;
}

.card h2 {
  font-size: 1.1rem;
  color: #4a148c;
  margin: 10px 0 5px;
  text-align: center;
}

.card p {
  font-size: 0.9rem;
  color: #555;
  text-align: center;
  margin-top: 5px;
}

.card .rating {
  color: #ff9800;
}


.card_detail {
 display: flex;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  max-width: auto;
  width: 100%;
}

.card_detail img {
 width: 250px;
  height: auto;
  object-fit: cover;
}

.card_detail h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
}
.card_detail p {
   font-size: 1rem;
  color: #555;
  line-height: 1.6;
  text-align: justify;
}

.sinopsis-text {
  padding: 25px 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sinopsis-text h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333;
}

.sinopsis-text p {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  text-align: justify;
}

footer {
  background-color: #222;
  color: white;
  padding: 20px 30px;
  text-align: center;
  margin-top: 40px;
}
